<nav class="bg-dark navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Mercury">Mercury</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Venus">Venus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Earth">Earth</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Mars">Mars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Jupiter">Jupiter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Saturn">Saturn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Uranus">Uranus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Neptune">Neptune</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/planet?planetName=Pluto">Pluto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/asteroids"> Asteroids </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/comets"> Comets </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nasa_pod"> Nasa POD </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>